* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #f2f4f6;
  background-image: linear-gradient(to bottom, rgba(255,255,255,1) -5%, rgba(191,222,231,1) 49%);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;  
}

a {
  text-decoration: none;
}

.container {
  max-width: 1408px;
  margin: 0 auto;
  padding: 0 16px;
  /* outline: 1px solid green; */
}

/* header */
.page-header {
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start
  ;
  flex-basis: 33.33%;
  flex-wrap: wrap;
}

.logo .title-link {
  margin: 0;
  padding: 0;
}

.heading {
  margin: 16px 16px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 46px;
  line-height: 58px;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  color: #288be6;
}

.promo {
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 46px;
  font-weight: 500;
  text-align: center;
  color: #657794;
}

.promo p {
  margin: 20px;
}

.user-contacts {
  display: flex;
  flex-direction: column-reverse;
}

.user-navigation {
  display: flex;
  flex-direction: column;
}

.user-navigation a {
  font-weight: 700;
  color: #288be6;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.header-email {
  padding-left: 30px;
  background-image: url("../img/decoration/icon-email-header.svg");
}

.header-phone {
  padding-left: 25px;
  background-image: url("../img/decoration/icon-phone-header.svg");
}

.user-photo {
  text-align: center;
}

.user-photo img {
  border-radius: 50%;
  object-fit: cover;
}

/* /.page-header */


/* section portfolio */
.portfolio {
  margin: 0 0 120px;
}

.work-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.work-item {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  width: 400px;
  background: rgb(235,235,235);
  background: linear-gradient(to bottom, rgba(235,235,235,1) 44%, rgba(255,255,255,1) 100%);
  box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.3);
}

.work-item p {
  position: absolute;
  bottom: 0px;
  left: 50px;
  width: 300px;
  min-height: 237px;
  text-align: center;
  vertical-align: middle;
  background-color: #eeeeee;
}

.work-item p {
  display: none;
}

.work-item:hover {
  box-shadow: 0px 0px 15px  rgba(0, 0, 0, 0.4);
}

.work-item:hover p {
  display: block;
}


.work-link img {
  object-fit: contain;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}
/* /.portfolio */


/* section intro "Давайте познакомимся" */
.intro {
  margin: 0 0 120px;
}

.subheading {
  margin: 0 0 56px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}

.user-image {
  margin: 0 auto;
  text-align: center;
  object-fit: contain;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.skills-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-html {
  background-image: url("../img/icon-html.svg");
}

.skill-css {
  background-image: url("../img/icon-css.svg");
}

.skill-js {
  width: 30px;
  height: 30px;
  object-fit: cover;
  background-image: url("../img/js-icon.svg");
  
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}


.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #288be6;
  color: #ffffff;
}

.page-footer {
  padding: 40px 0;
  background-color: #00417d;
  color: #ffffff;
}

.page-footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("../img/icon-phone-footer.svg");
}


@media  (max-width: 576px) {
  .container {
    width: 95%;
    padding: 0 16px;
  }
  .main-navigation {
    position: relative;
  }
  .main-navigation div {
    flex-basis: 100%;
    margin-bottom: 40px;
  }
  .heading {
    font-size: 80px;
    line-height: 94px;
  }
  .promo p {
    font-size: 1.5em;
    line-height: 100%;
  }
  .user-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  .user-photo {
    position: absolute;
    top: 9%;
    right: 5%; 
  }
  .user-navigation a {
    padding-left: 40px;
    font-size: 2em;
    line-height: 100%;
    background-size: 35px;
  }
}